*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: #1f2937;
  padding-top: 1em;
}

.nav-wrapper {
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.logo {
  color: #f0faf8;
  font-size: 24px;
  font-weight: bold;
}

ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.nav-link {
  color: #e5e7eb;
  text-decoration: none;
  padding-left: 5em;
  font-size: 18px;
}

.hero-background {
  background-color: #1f2937;
}

.hero {
  color: #f9faf8;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  height: 25em;
  width: 65%;
  padding-top: 5em;
  padding-bottom: 5em;
  font-size: 24px;
}

.hero-left {
  width: 50%;
  padding-right: 2em;
}

.hero-left h1 {
  font-size: 48px;
  font-weight: bold;
  margin-top: 0;
}

.hero-left p {
  line-height: 1.5em;
  padding-top: 2em;
}

.hero-btn {
  font-size: 24px;
  background-color: #3882f6;
  color: #e5e7eb;
  border-style: none;
  margin-top: 2em;
  padding: 0.5em 2em;
  border-radius: 10px;
}

.hero-btn a {
  color: #e5e7eb;
  font-weight: bold;
  text-decoration: none;
}

.hero-right {
  height: auto;
  width: 50%;
}

.hero-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.quote {
  background-color: #e5e7eb;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.verbiage {
  width: 55%;
  font-size: 36px;
  font-style: italic;
  font-weight: 200;
}

.author {
  font-size: 24px;
  font-weight: bold;
  padding-left: 15em;
}

.random {
  padding-top: 2em;
}

.random h2 {
  text-align: center;
  padding-bottom: 1em;
  color: #1f2937;
  font-size: 36px;
  font-weight: bold;
}

.square {
  width: 150px;
  height: 300px;
  text-align: center;
}

.box-container {
  display: flex;
  justify-content: center;
  column-gap: 5em;
}

.box {
  width: 150px;
  height: 150px;
  border: 4px solid #3882f6;
  border-radius: 15px;
}

figcaption {
  width: 100%;
  padding-top: 1em;
  color: #1f2937;
}

.cta {
  display: flex;
  width: 65%;
  justify-content: space-between;
  align-items: center;
  color: #f9faf8;
  margin: 2em auto;
  padding: 2em 6em;
  background-color: #3882f6;
  border-radius: 10px;
}

.cta-btn {
  padding: 0.5em 2em;
  background-color: #3882f6;
  color: #f9faf8;
  border-radius: 10px;
  border: 2px solid #f9faf8;
}

footer {
  background-color: #1f2937;
  text-align: center;
  color: #f9faf8;
  padding: 2em 0;
}
